#pragma code_page(65001)
#include "resource.h"

IDI_APPICON ICON "logo.ico"

IDR_MAINMENU MENU
BEGIN
    POPUP "Файл"
    BEGIN
        MENUITEM "Выход из учётной записи", ID_FILE_LOGOUT
        MENUITEM SEPARATOR
        MENUITEM "Выход", ID_FILE_EXIT
    END
END
